* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-weight: 300;
}


header {
  width: 100%;
  height: 10vh;
}

main {
	width: 100%;
	height: 80vh;
  background: lightgrey;
  overflow-x: scroll;
  overflow-y: hidden;
}

#peaks-container {
  height: 80%;
  display: flex;
}

main #peaks-chart {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 10vh;
}

#control {
  background: lightgrey;
  width: 100%;
  height: 100%;
}

.slidecontainer {
  width: 100%;
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 24px; /* Specified height */
  background: #AAA; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #777;
  cursor: pointer;
}