* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

*:focus {
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-weight: 300;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.layer#chart {
  position: fixed;
}
.layer#ui {
  position: fixed;
  pointer-events: none;
}
.layer#scrollytelling {
  pointer-events: none;
  height: auto;
  overflow-y: hidden;
}
.layer#peakinfo {
  height: auto;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: transform 0.35s ease-in;
}
.layer.open#peakinfo {
  transform: translateY(0%);
  transition: transform 0.35s ease-out;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .layer#peakinfo {
    width: 30%;
  }
}