* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-weight: 300;
}


header {
  width: 100%;
  height: calc(10vh - 10px);
}

#main-wrapper {
  width: 100%;
  height: 80vh;
  padding: 0 1rem;
  background: lightgrey;
  overflow-y: hidden;
}
#main-wrapper.main-mobile {
  overflow: hidden;
}

main {
	width: 100%;
	height: 80vh;
  background: lightgrey;
  overflow-x: scroll;
  overflow-y: hidden;
  transform: translateY(10px)
}

footer {
  width: 100%;
  height: calc(10vh + 10px);
  padding: 0 1rem;
  background: lightgrey;
  position: absolute;
  left: 0;
  z-index: 9999;
}