* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-weight: 300;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.layer#chart {
  position: fixed;
}
.layer#ui {
  position: fixed;
  pointer-events: none;
}
.layer#scrollytelling {
  pointer-events: none;
  height: auto;
  overflow-y: hidden;
}