#control {
  width: 100%;
  height: 100%;
}

.slidecontainer {
  width: 100%;
}
.slidecontainer p {
  display: none;
}
/* The slider itself */
.slider {
  margin-top: 10px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2rem; /* Specified height */
  background: #AAA; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background: #777;
  cursor: pointer;
}