header {
  width: 100%;
  height: 10%;
  padding: 0 1rem;
  pointer-events: all;
  background: #333;
  display: flex;
  align-items: center;
}
header #header-container {
  width: 100%;
  height: 40%;
}
select#country-sel {
  width: 2.6rem;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.25rem;
  -webkit-appearance: none;
  direction: rtl;
  border-radius: 0;
  padding-left: 0.7rem;
  background: url(assets/select-arrow-light.svg) no-repeat 0% 0;
}
header #app-title {
  display: inline-block;
  margin-left: 2px;
  color: #fff;
  font-size: 1.25rem;
}
span#dummy-country {
  display: inline-block;
  font-size: 1.25rem;
  transform: translateY(-200px);
}
section#chart-overlay {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section#chart-overlay #x-axes {
  width: 100%;
  height: 8%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer#ui section#chart-overlay select#order-sel {
  pointer-events: all;
  flex: 0 6.8rem;
  height: 1.8rem;
  width: 6.8rem;
  line-height: 1.4rem;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  color: #aaa;
  font-size: 1rem;
  -webkit-appearance: none;
  border-radius: 0;
  background: url(assets/select-arrow-dark.svg) no-repeat 96% 0;
}
.layer#ui section#chart-overlay .line {
  border-bottom: 1px solid #aaa;
  flex: 1;
  height: 1px;
}
.layer#ui section#chart-overlay .line.right {
  margin-left: 1rem;
}
.layer#ui section#chart-overlay .line.left {
  margin-right: 1rem;
}
.arrow-right {
  flex: 0 0.4rem;
  width: 0.4rem;
  height: 0.4rem;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  transform: rotate(45deg);
}
.arrow-left {
  flex: 0 1px;
  width: 1px;
  height: 0.4rem;
  border-left: 1px solid #aaa;
}

button#switch-mode {
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background: #333;
  margin-bottom: 1rem;
  color: #eee;
  font-size: 1rem;
  pointer-events: all;
}

footer {
  width: 100%;
  height: 10%;
  padding: 0 1rem;
  background: #fff;
  z-index: 9999;
  pointer-events: all;
}

#control {
  position: relative;
  width: 100%;
  height: 100%;
}
.slidecontainer {
  width: 100%;
  position: relative;
}
.slidecontainer p {
  display: none;
}
/* The slider itself */
.slider {
  position: absolute;
  top: 10px;
  left: 0;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  background: transparent;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  z-index: 9999;
}
#slider-progress {
  position: absolute;
  top: 10px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 100%;
  height: 2rem;
  background: #333;
  border-radius: 1rem;
  outline: none;
  opacity: 1;
}
#slider-bkgd {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  background: #333;
  outline: none;
  opacity: .8;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  /*margin-left: 0.3rem;*/
  border-radius: 1rem;
  background: white;
  cursor: pointer;
}

/* Arrows */
#arrow {
  position: absolute;
  top: 0.8rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
}
#tail {
  position: absolute;
  top: 0.8rem;
  left: 0.2rem;
  width: 1.4rem;
  height: 0px;
  border: 1px solid white;
  animation: tailScale 6s infinite;
}
@keyframes tailScale {
  0% {width: 0rem;}
  10%, 100% {width: 1.4rem;}
}
#head {
  position: absolute;
  top: 0.55rem;
  left: 1rem;
  width: 0.6rem;
  height: 0.6rem;
  border-right: 2px solid white;
  border-top: 2px solid white;
  transform: rotate(45deg);
  transform-origin: center center;
  animation: headScale 6s infinite;
}
@keyframes headScale {
  0%, 5% {width: 0rem; height: 0rem;}
  5%, 100% {width: 0.6rem; height: 0.6rem;}
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  header {
    height: 7.5%;
  }
  section#chart-overlay {
    height: 85%;
  }
  footer {
    height: 7.5%;
  }
}